/**{border:0px solid;}*/
html, body {
	min-height: 100%;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
html>body, html>body {
	height: auto;
}
#container {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	height: 100%;
	/*border: 2px solid #CC0000;*/
}
#header {
	height: 80px;
	background-position: center;
	background-image: url(../img/sfondo_header2.jpg);
	background-repeat: repeat-y;
}
#navbar {
	height: 25px;
	background-color: #D7AA3F;
	border-top: 1px solid #002B79; /*oppure 002C78*/
	border-bottom: 1px solid #002B79;
}
#navbar2 {
	height: 20px;
	background-color: #2C881A;
	border-bottom: 1px solid #002B79;
}

#divCoupon {
	border: 2px solid #000000;
}

#content {
	margin: 0px;
	padding: 0px;
	border: 0px solid red;
}

#footer {
	background-color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 36px;
}

#user {
	position: absolute;
	top: 30px;
	left: 25%;
	font-family: Verdana, Arial;
	font-size: 15px;
	color: #022F73;
}

#header .logosx {
	float: left;
	height:80px;
}

#header .logo {
	height:80px;
	float: right;
}

#navbar a , #navbar a:visited{
	font-family: "Arial Black", Verdana, Arial;
	font-size: 15px;
	text-decoration: none;
	margin: 8px;
	color: #002B79;
	vertical-align: middle;
}
#navbar a:hover {
	color: #FFFFFF;
	vertical-align: middle;
}

#navbar span 
{
	font-family: "Arial Black", Verdana, Arial;
	font-size: 15px;
	margin: 8px;
	vertical-align: middle;
	color: #CD0B11;
}

#navbar2 a, #navbar2 a:visited{
	font-family: Verdana, Arial;
	font-size: 12px;
	text-decoration: none;
	margin: 8px;
	color: #FFFFFF;
	vertical-align: middle;
}

#navbar2 a:hover {
	color: #D7AA3F;
	vertical-align: middle;
}

#navbar2 span 
{
	font-family: Verdana, Arial;
	font-size: 12px;
	margin: 8px;
	vertical-align: middle;
	color: #D7AA3F;
}

#footer .logo_footer {
	position: relative;
	top: 2px;
}
form {
	margin: 0px;
	padding: 0px;
	border: 0px solid green;
}

.labelFooterData {
	font-family: Verdana, Arial;
	font-size: 15px;
	color: #004080
}

.labelFooterVersion {
	font-family: Verdana, Arial;
	font-size: 15px;
	color: #004080
}

.labelError 
{
	font-family: Verdana, Arial;
	font-size: 30px;
	color: red;
	text-align: center;
    vertical-align: middle;
}

.labelObbl 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight:bold;
	color: red;
	text-align: left;
    vertical-align: middle;
}

.labelCompDisp 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight:bold;
	color: red;
	text-align: left;
    vertical-align: middle;
}

.labelCompPrel
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight:bold;
	color: red;
	text-align: left;
    vertical-align: middle;
}
.labelCompDaCaricare 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight:bold;
	color: red;
	text-align: left;
    vertical-align: middle;
}

.labelCompCaricati
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight:bold;
	color: red;
	text-align: left;
    vertical-align: middle;
}
.labelTitolo {
	font: 1.4em/1.4em Arial, Helvetica, sans-serif;
	text-align: center;
	height: 30px;
	color: #002B76;
}

.labelTitolobig {
	font: 2em/2em Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight:bold;
	height: 30px;
	color: #002B76;
}

.labelTitolo2 {
	font: 0.9em/0.9em Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight:bold;
	height: 30px;
	color: #002B76;
}

.labelTitolo3 {
	font: 0.9em/0.9em Arial, Helvetica, sans-serif;
	text-align: left;
	height: 30px;
	color: #002B76;
}

.labelTitoloUnderline {
	font: 0.9em/0.9em Arial, Helvetica, sans-serif;
	text-align: left;
	border-bottom:2px solid #002B76;
	height: 30px;
	color: #002B76;
}

.labelBlack{
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px 3px 0px 15px;
	vertical-align: middle;
}
.tdUnderline {
	border-bottom:1px solid #002B76;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #002B76;
	margin: 0px 3px 0px 15px;
	vertical-align: middle;	
}

/*------------------------------------------------*/
/* grid */
/*------------------------------------------------*/
#tdGridView {
	vertical-align: top;
}
#tdGridView table {
	border-collapse:collapse;
	border:1px solid #345385;
}
#tdGridView caption {
	font: 1.4em/1.4em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(../img/bg_caption_blu.jpg) right top;
	height: 30px;
	color: #345385;
}
#tdGridView th {
    background: url(../img/bg_th_blu1.jpg) no-repeat right;
	height: 35px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FFFFFF;
}

#tdGridView tr {
	background: url(../img/bg_td1.jpg) repeat-x top;
}

#tdGridView tr.alternatingRow {
	background: url(../img/bg_td2.jpg) repeat-x;
}

#tdGridView tr.selectedRow {
	background: url(../img/bg_td_sel.jpg) repeat-x;
	font-weight: bold;
}

#tdGridView td {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 2px 7px;
	border-top: 1px solid #345385;
	border-right: 1px solid #345385;
	text-align: left;
	border-bottom: 1px solid #345385;
}
#tdGridView a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
#tdGridView a:hover {
	color: #777777;
	text-decoration: underline;
}

#tdGridView tr.pager {
	border: 1px solid #A3FFFF;
}
#tdGridView tr.pager td {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #42FF44;
	font-weight: bold;
	padding: 3px 7px;
	border: none;
	text-align: left;
	background: none;
}
#tdGridView tr.pager table {
	border: none;
}
#tdGridView tr.pager a {
	color: #345385;
	font-weight: bold;
	text-decoration: none;
}
#tdGridView tr.pager a:hover {
	color: #ECFF44;
	text-decoration: none;
}

#tdGridView .csscontrol {
	height: 22px;
	padding: 0px 7px;
}

#tdGridView .labelheader
{
	font: 1.4em/1.4em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	margin-left: -10px;
	background: url(../img/bg_caption.jpg) right top;
	height: 30px;
	color: #345385;
}

#tdGridView .lblTHimg
{
	font: 1.4em/1.4em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	margin-left: -10px;
	background: url(../img/bg_th.jpg) no-repeat right;
	height: 30px;
	color: #002B76;
}
#tdGridView .lblTHimgCenter
{
	font: 1.4em/1.4em Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 10px;
	margin-left: -10px;
	background: url(../img/bg_th.jpg) no-repeat right;
	height: 30px;
	color: #345385;
}

#tdGridView .Footer 
{
	background: url(../img/bg_caption_blu.jpg) right top;
	height: 20px;
	color: #FFFFFF;
	font: 1.0em/1.0em Arial, Helvetica, sans-serif;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FFFFFF;
}

/*------------------------------------------------*/
/* detail */
/*------------------------------------------------*/
#tdDetailView {
	width: 45%;
	vertical-align: top;
}
#tdDetailView table {
	border-collapse:collapse;
	border:1px solid #D7AA3F;
}
#tdDetailView caption {
	font: 1.4em/1.4em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(../img/bg_caption_small.jpg) right top;
	height: 30px;
	color: #002B76;
}
#tdDetailView tr {
	background: url(../img/bg_td1.jpg) repeat-x top;
}
#tdDetailView tr.alternatingRow {
	background: url(../img/bg_td2.jpg) repeat-x;
}
#tdDetailView tr.selectedRow {
	/*background: url(../img/bg_td_sel.jpg) repeat-x;*/
	font-weight: bold;
}
#tdDetailView td {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 2px 7px;
	border-top: 1px solid #D7AA3F;
	border-bottom: 1px solid #D7AA3F;
	border-right: 1px solid #DDDDDD;
	text-align: left;
}
#tdDetailView a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
#tdDetailView a:hover {
	color: #002B76;
	text-decoration: underline;
}

#tdDetailView tr.pager {
	border: 1px solid #D7AA3F;
}
#tdDetailView tr.pager td {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #D7AA3F;
	font-weight: bold;
	padding: 3px 7px;
	border: none;
	text-align: left;
	background: none;
}
#tdDetailView tr.pager table {
	border: none;
}
#tdDetailView tr.pager a {
	color: #002B76;
	font-weight: bold;
	text-decoration: none;
}
#tdDetailView tr.pager a:hover {
	color: red;
	text-decoration: none;
}
#tdDetailView .csscontrol {
	height: 22px;
	padding: 0px 7px;
}
#tdDetailView .headerDetail {
	width: 30%;
	background: url(../img/bg_th.jpg) no-repeat right;
	height: 28px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FFFFFF;
}

/*------------------------------------------------*/
/* ricerca */
/*------------------------------------------------*/
#tdRicerca {
	border: 0px solid #000000;
	vertical-align: middle; 
}
.filtra {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #002B76;
	margin: 0px 3px 0px 5px;
	vertical-align:middle;
}

.labelRicerca {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #345385;
	margin: 0px 3px 0px 15px;
	vertical-align: middle;
}

.labelNoVisible {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	margin: 0px 3px 0px 15px;
	vertical-align: middle;
}

#tdRicerca input[type="TEXT"] {
	background-color: #777777;
	color: #345385;
	vertical-align:middle;
}

.buttonCerca {
	position: relative;
	margin: 0px 3px 0px 15px;
	/*top: 10px;*/
	vertical-align:middle;
}

/*------------------------------------------------*/
/* Login */
/*------------------------------------------------*/
.labelLogin {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #D7AA3F;
	margin: 0px 3px 0px 15px;
}

.labelButton {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px 3px 0px 15px;
	Width: 100px;
}

.textLogin {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 3px 0px 15px;
}

/*------------------------------------------------*/
/* Generico */
/*------------------------------------------------*/

.textNumber 
{
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}

.checkBox {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #345385;
	margin: 0px 3px 0px 15px;
	vertical-align: middle;
}

.checkBoxAnomalia {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #D7AA3F;
	margin: 0px 0px 0px 0px;
	vertical-align: top;
}
/*------------------------------------------------*/
/* UpdateProgress */
/*------------------------------------------------*/
.progressTemplate {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ff3366;
	margin: 0px 3px 0px 15px;
}